.bash_history
/.bundle/
/.cache/
.DS_Store
.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# node package manager
.npm
**/node_modules/

# rspec failure tracking
.rspec_status

# log files
**/log/

# dotenv
.env
.env/*.local

.local/
